body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
nav {
    background-color: #444;
    padding: 0.5rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ffd700;
}
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 60px; /* Adjust based on header height */
    margin-bottom: 60px; /* Adjust based on footer height */
}
#pspdfkit {
    width: 85%;
    height: 75vh;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#right-side{
    height: 75vh;
    z-index: 100000;
    background: white;
}
.text-content {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container{
    display: none;
    justify-content: center;
    align-items: center;
}

/* CSS for drop/upload PDF */
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    padding: 20px;
    text-align: center;
    background-color: white;
}
#drop-area.highlight {
    border-color: #000;
}
#file-input {
    display: none;
}
#upload-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}